@model EmployeeVM
@{
    var departments = new SelectList(ViewBag.Departments,"ID","Name");
}


<div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control">
    <span class="form-text text-danger" asp-validation-for="Name"></span>
</div>
<div class="form-group">
    <label asp-for="Email"></label>
    <input class="form-control" asp-for="Email">
    <span class="form-text text-danger" asp-validation-for="Email"></span>

</div>

<div class="form-group">
    <label asp-for="PhoneNumber"></label>
    <input class="form-control" asp-for="PhoneNumber">
    <span class="form-text text-danger" asp-validation-for="PhoneNumber"></span>

</div>

<div class="form-group">
    <label asp-for="Image"></label>
    <input class="form-control" asp-for="Image">
    <span class="form-text text-danger" asp-validation-for="Image"></span>
    <input asp-for="ImageName" hidden class="form-control">
</div>
<div class="form-group">
    <label asp-for="Department"></label>
    <select class="form-control" asp-items="@departments" asp-for="DepartmentId">
        <option value="@null">--------------- Select Department ---------------</option>
  </select>

</div>

<div class="form-group">
    <label asp-for="IsACtive"></label>
    <input class="form-control" asp-for="IsACtive">
    <span class="form-text text-danger" asp-validation-for="IsACtive"></span>

</div>
<div class="form-group">
    <label asp-for="DateOfCreation"></label>
    <input class="form-control" asp-for="DateOfCreation">
    <span class="form-text text-danger" asp-validation-for="DateOfCreation"></span>

</div>